.home-container {
  display: flex;
  justify-content: space-between;
}

.left-sidebar,
.right-sidebar {
  width: 200px; /* Adjust the width as needed */
  padding: 1%;
  padding-top: 1%;
}

.main-content {
  flex-grow: 1;
}

  
  .welcome-section {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .recent-posts-section {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Add more styling as needed */
  