h1{
  text-align: center;
  padding-top: 1rem;
}

.container{
  padding: 3rem 2rem;
}

.forum-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion{
  background-color: rgb(243,245,247);
  padding: 3rem;
  border-radius: 2rem;
}

.accordion-header{
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.accordion-header:hover{
  cursor: pointer;
}

.icon-container{
 display: flex;
 align-items: center;
}


.accordion-item{
  border-top: 1px solid #959595;
  border-bottom: 1px solid #959595;
  background-color: rgb(243,245,247);
  overflow: hidden;
  padding: 0 3rem;

}
.accordion-body-visible{
  max-height: 10rem;
  max-width: 50rem;
  padding: 1rem 0;
  /* border: 1px solid gray ; */
  -webkit-transition: max-height 0.6s ease-out; /* Safari and Chrome */
  -moz-transition: max-height 0.6s ease-out; /* Firefox */
  -ms-transition: max-height 0.6s ease-out; /* Internet Explorer */
  -o-transition: max-height 0.6s ease-out; /* Opera */
  transition: max-height 0.6s ease-out;
}
.accordion-body-invisible{
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease-out; /* Safari and Chrome */
  -moz-transition: max-height 0.6s ease-out; /* Firefox */
  -ms-transition: max-height 0.6s ease-out; /* Internet Explorer */
  -o-transition: max-height 0.6s ease-out; /* Opera */
  transition: max-height 0.6s ease-out;
}

.loading-container {
  display: flex;
  justify-content: center;
}




.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #757272;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }